# --- MongoDB ---
MONGO_USER=admin
MONGO_PASSWORD=changeme
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=ticketing

# --- Blockchain (anvil / Sepolia) ---
RPC_URL=http://127.0.0.1:8545
DEPLOYER_PRIVATE_KEY=
TICKET_CONTRACT_ADDRESS=

# --- Pinata / IPFS (Laisse vide pour l'instant si tu n'as pas de compte) ---
PINATA_JWT=

# --- Frontend origin pour le CORS ---
FRONTEND_ORIGIN=http://localhost:5173